<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="page d-flex">
        <div class="sidebar bg-white p-20 p-relative">
            <h3 class="p-relative txt-c mt-0">OutfitO</h3>
            <ul>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-controller="Profile" asp-action="Index">
                        <i class="fa-regular fa-user fa-fw"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-controller="Product" asp-action="ProductDash">
                        <i class="fa-solid fa-diagram-project fa-fw"></i>
                        <span>My Products</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-controller="Product" asp-action="ProductDash">
                        <i class="fa-regular fa-chart-bar fa-fw"></i>
                        <span>All Products</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-controller="Category" asp-action="Index">
                        <i class="fa-regular fa-file fa-fw"></i>
                        <span>Categories</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-controller="Order" asp-action="Index">
                        <i class="fa-regular fa-file fa-fw"></i>
                        <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 c-black rad-6 p-10" asp-controller="PromoCode" asp-action="Index">
                        <i class="fa-regular fa-credit-card fa-fw"></i>
                        <span>PromoCodes</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content w-full">
            @RenderBody()
        </div>
    </div>
</body>
</html>
