@model List<Comment>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .CommentList {
        display: flex;
        justify-content: center;
    }

    a {
        margin: auto 10px;
    }
</style>


@foreach (var comment in Model)
{
    <div class="CommentList">
        <li>@comment.Body</li>
        <a href="/product/Editcomment?commentId=@comment.Id" class="edit-comment" data-comment-id="@comment.Id">
            <i class="bi bi-pencil-square"></i>
        </a>

        <form action="/product/DeleteComment" method="post" class="delete-form">
            <input type="hidden" name="commentId" value="@comment.Id" />
            <button type="submit"> <i class="bi bi-x-circle-fill"></i> </button>
        </form>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

@section Scripts {
    <script>
        $(function () {
            $('.edit-comment').click(function () {
                var commentId = $(this).data('comment-id');
                $.get('/product/EditComment?commentId=' + commentId, function (response) {
                    $('#editCommentModalBody').html(response);
                    $('#editCommentModal').modal('show');
                });
            });
        });
    </script>

}

<script>
    document.querySelectorAll('.delete-form').forEach(form => {
        form.addEventListener('submit', function (event) {
            event.preventDefault();


            Swal.fire({
                title: 'Are you sure?',
                text: 'Are you sure you want to delete this Course?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.isConfirmed) {

                    form.submit();

                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Cancelled!',
                        'Course is safe :)',
                        'error'
                    );
                }
            });
        });
    });
</script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />



