@* Strong Type Model *@
@model List<Product>
@{
    Layout = "_ProductLayout";
}

<h3>Products</h3>
<a href="/Product/New" class="btn btn-outline-primary my-3 ">
    Add New Product
</a>
<section>

    @foreach (var item in Model)
    {
        <!-- product -->
        <div class="col-md-4 col-xs-6 productCard">
            <div class="product">
                <div class="product-img">
                    <img src="~/Images/@item.Img" height="500px" />
                    @*                     <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
                </div> *@
                </div>
                <div class="product-body">

                    <h3 class="product-name"><a href="#"> @item.Title</a></h3>
                    <h4 class="product-price">$@item.Price <del class="product-old-price">$@(2 * @item.Price)</del></h4>

                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                        @* <a href="/Product/Details/@item.Id">
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </a> *@
                        <a href="/Product/Details/@item.Id" class="tooltip-container">
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </a>

                    </div>
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                </div>
            </div>
        </div>
        <!-- /product -->
    }
</section>




<style>

    .product .product-img > img {
        max-width: 150px;
        max-height: 200px;
    }

    .product .product-img {
        position: relative;
        height: 70% !important;
    }


    .tooltip-container {
        position: relative;
        display: inline-block;
    }

    .product-rating {
        z-index: 1;
    }

    .tooltip-container .tooltipp {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 7;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip-container:hover .tooltipp {
        visibility: visible;
        opacity: 1;
    }

    .quick-view {
        background: none;
        border: none;
        cursor: pointer;
    }

        .quick-view .fa-eye {
            color: black;
        }

        .quick-view:hover .fa-eye {
            color: blue; /* Change color on hover if needed */
        }

    }
</style>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.querySelectorAll('.delete-form').forEach(form => {
        form.addEventListener('submit', function (event) {
            event.preventDefault();


            Swal.fire({
                title: 'Are you sure?',
                text: 'Are you sure you want to delete this Course?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.isConfirmed) {

                    form.submit();

                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Cancelled!',
                        'Course is safe :)',
                        'error'
                    );
                }
            });
        });
    });
</script>
