@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="d-block" href="/Admin/Register">   /Admin/Register   </a>
    <a class="d-block" href="/user/Register">   /user/Register    </a>
    <a class="d-block" href="/user/login">   /user/login   </a>
    
    <a class="d-block" href="/Category/index">    /Category/index  </a>
    <a class="d-block" href="/Order/Index">  /Order/Index </a>
    <a class="d-block" href="/Order/History">  /Order/History  </a>
    <a class="d-block" href="/Profile/Index">     /Profile/Index  </a>
    <a class="d-block" href="/Profile/IndexUser"> /Profile/IndexUser   </a>
</div>
